<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>
        <%= formType === "create" ? "Create New Resource" : "Update Resource" %>
    </h1>

    <hr class="my-5">

    <%- include("./_form") %>

    <a href="/resources">Back to resources</a>
</div>

<%- include("../shared/_footer") %>