.resource {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 8px;
    max-width: 250px;
    margin: 16px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 300px;
    width: 200px;
    background-color: #fff;
    color: #000;
}

.resource.black {
    background-color: #000;
    color: #fff;
}

.resourceTitle {
    margin: 0;
    font-size: 1.5em;
}

.resourceBody {
    flex: 1;
}

.resourceFooter {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.viewButton {
    text-decoration: none;
    color: inherit;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: background-color 0.15s ease-in-out;
}

.viewButton:hover {
    background-color: #0056b3;
}
  