<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>
        Create New User
    </h1>

    <hr class="my-5">

    <%- include("./_form") %>

    <a href="/users">Back to users</a>
</div>

<%- include("../shared/_footer") %>