<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="/">SCMCMS</a>

        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Main menu items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if (isAuthenticated) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/resources">Resources</a>
                    </li>

                    <% if (isAdmin) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users">Users</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/applications">Applications</a>
                        </li>
                    <% } %>
                <% } %>
            </ul>

            <!-- Authentication links -->
            <ul class="navbar-nav">
                <% if (!isAuthenticated) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/users/new">Register</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>